<div style="background-color: white;" class="mat-elevation-z8">
    <br>
<div *ngIf="!mostrarGrilla">
    
    <!--
        <mat-form-field>
        <mat-label >Busqueda</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Teclado" #input>
        </mat-form-field>
-->
        <div style="text-align: center;"><h2>Busqueda</h2></div>
        <div  style="text-align: center;">
            <div style="text-align: center; display:inline-flex;">
            
                <mat-form-field>
                    <input matInput type="text" placeholder="Patente" [(ngModel)]="patente">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Descripcion" [(ngModel)]="descripcion">
                </mat-form-field>

                <mat-form-field>
                    <input matInput type="text" placeholder="Dependencia" [(ngModel)]="dependencia">
                </mat-form-field>    
            </div>
            <button mat-raised-button (click)="busqueda()"> Buscar </button>
        </div>


        <div style="text-align: center;"><h2>Grilla de moviles</h2></div>
            <table mat-table [dataSource]="dataSource" matSort>
        
                <ng-container matColumnDef="moviId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let movil"> {{ movil.moviId }} </td>
                </ng-container>

                <ng-container matColumnDef="patente">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Patente </th>
                    <td mat-cell *matCellDef="let movil"> {{movil.patente}} </td>
                </ng-container>

                <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                    <td mat-cell *matCellDef="let movil"> {{ movil.marca }} </td>
                </ng-container>

                <ng-container matColumnDef="modelo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                    <td mat-cell *matCellDef="let movil"> {{ movil.modelo }} </td>
                </ng-container>

                <ng-container matColumnDef="moviModoFecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Odometro </th>
                    <td mat-cell *matCellDef="let movil"> {{movil.moviModoFecha}} </td>
                </ng-container>

                <ng-container matColumnDef="moviModoOdometro">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Odometro </th>
                    <td mat-cell *matCellDef="let movil"> {{ movil.moviModoOdometro }} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let movil">
                            <button mat-raised-button color="basic" title="editar" (click)="editar(movil)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button style="margin-left: 0.2cm;" mat-raised-button color="basic" title="modificar" (click)="modificar(movil)">
                                <mat-icon>settings</mat-icon>
                            </button>
                            <button style="margin-left: 0.2cm;" mat-raised-button color="warn" title="borrar" (click)="borrar(movil)">
                                <mat-icon>delete</mat-icon>
                            </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas" ></tr>
                <tr mat-row *matRowDef="let row; columns: columnas"></tr>
            </table>

            <div style="text-align: center; background-color: green;">
                <button mat-raised-button (click)="agregar()">Agregar Movil</button>
            </div>
    
</div>


    <div *ngIf="mostrarGrilla">
        <div *ngIf="mostrarAgregar">

            <form [formGroup]="formulario">
                <div>
           
                    <div style="text-align: center;">
                        <button mat-raised-button (click)="cancelar()">Volver</button>
                    </div>
                    <br>
                    <app-movil-avl></app-movil-avl>
                </div> 
            </form>

        </div>

            <div *ngIf="mostrarEditar">
             <br>
                <form [formGroup]="formulario">
                    <div>
    
                        <div style="text-align: center;">
                            <h2>Informacion del movil:</h2>
                        </div>
    
                        <div style="text-align: center;">
                            <label>Id: </label>
                            
                                <label *ngIf="this.formulario.value.moviId">{{this.formulario.value.moviId}}</label>
                                <label *ngIf="!this.formulario.value.moviId">Id aun no cargado</label>
                            
                        </div>
    
                        <div style="text-align: center;">
                            <label>Fecha de Alta: </label>
                            
                                <label *ngIf="this.formulario.value.moviFechaAlta">{{this.formulario.value.moviFechaAlta | date:
                                    'dd-LL-yyyy'}}
                                </label>
                                <label *ngIf="!this.formulario.value.moviFechaAlta">Fecha aun no cargada</label>
                            
                        </div>
                    </div>
    
                    <br>
    
                    <div style="text-align: center;">
                        <button mat-raised-button (click)="cancelar()">Volver</button>
                    </div>
                </form> <br>
                
                <div *ngIf="movilSelected && movilSelected.moviId && mostrarEditar">
                    <app-movil-grupo [moviId]="movilSelected.moviId"></app-movil-grupo>
                </div>

            </div>

            <div *ngIf="mostrarManten">
                <form [formGroup]="formulario">
                    <div>
    
                        <div style="text-align: center;">
                            <h2>Informacion del movil:</h2>
                        </div>
    
                        <div style="text-align: center;">
                            <label>Id: </label>
                            
                                <label *ngIf="this.formulario.value.moviId">{{this.formulario.value.moviId}}</label>
                                <label *ngIf="!this.formulario.value.moviId">Id aun no cargado</label>
                            
                        </div>
    
                        <div style="text-align: center;">
                            <label>Fecha de Alta: </label>
                            
                                <label *ngIf="this.formulario.value.moviFechaAlta">{{this.formulario.value.moviFechaAlta | date:
                                    'dd-LL-yyyy'}}
                                </label>
                                <label *ngIf="!this.formulario.value.moviFechaAlta">Fecha aun no cargada</label>
                            
                        </div>
                    </div>
     

                    <div style="text-align: center;">
                        <button mat-raised-button (click)="cancelar()">Volver</button>
                    </div>

                    <br>

                    <mat-tab-group mat-align-tabs="center">
                        <mat-tab>
                            <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">miscellaneous_services</mat-icon>
                                Servicios
                            </ng-template>
                            <div *ngIf="movilSelected && movilSelected.moviId">
                                <app-movil-servicio [moviId]="movilSelected.moviId"></app-movil-servicio>
                            </div>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">speed</mat-icon>
                                Odometro
                            </ng-template>
                            <div *ngIf="movilSelected && movilSelected.moviId">
                                <app-movil-odometro [moviId]="movilSelected.moviId"></app-movil-odometro>
                            </div>
                        
                        </mat-tab>
                            
                        <mat-tab>
                            <ng-template mat-tab-label>
                            <mat-icon class="example-tab-icon">library_books</mat-icon>
                                Bitacora
                            </ng-template>
                            <div *ngIf="movilSelected && movilSelected.moviId">
                                <app-movil-bitacora [moviId]="movilSelected.moviId"></app-movil-bitacora>
                            </div>
                        </mat-tab>
                      </mat-tab-group>

                      
                    

                </form> <br>
               
            </div>
    </div>
</div>