USE [SISEP_ControlFlota]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movil](
	[moviId] [int] IDENTITY(1,1) NOT NULL,
	[moviModoFecha] [date] NULL,
	[moviModoOdometro] [int] NULL,
	[moviFechaAlta] [datetime] NULL,
	[moviBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_Movil] PRIMARY KEY CLUSTERED 
(
	[moviId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
