<mat-toolbar style="background-color: green;" class="mat-elevation-z8">
  <span style="color: white;"> <mat-icon style="color: white;">local_shipping</mat-icon> Sistema de Control de Flota</span> 

  <div style="flex: 1 1 auto"></div>

  <a routerLink="/home" mat-button>
    <mat-icon style="color: white;">home</mat-icon>
    Inicio
  </a>
  <a routerLink="/grupos" mat-button>
    <mat-icon style="color: white;">commute</mat-icon>
    Grupos
  </a>
  <a routerLink="/servicios" mat-button>
    <mat-icon style="color: white;">miscellaneous_services</mat-icon>
    Servicios
  </a>
  <a routerLink="/tareas" mat-button>
    <mat-icon style="color: white;">task</mat-icon>
    Tareas
  </a>
  <a routerLink="/moviles" mat-button>
    <mat-icon style="color: white;"></mat-icon>
    Moviles
  </a>
</mat-toolbar>
  <router-outlet></router-outlet>        
  <!--
  <footer>
    <div class="mat-elevation-z8" >
    <p>
      <mat-toolbar style="background-color: darkgreen; ">
        <span style="color: white;">Copyright © 2021 Control de flota. Todos los derechos reservados.</span>
      </mat-toolbar>
    </p>
  </div>
  </footer>-->