<br>
        <div [hidden]="mostrarFormulario">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <mat-text-column name="setaServId" headerText="ID Servicio"></mat-text-column>
                <mat-text-column name="setaTareId" headerText="ID Tarea"></mat-text-column>
                <mat-text-column name="tareNombre" headerText="Nombre"></mat-text-column>
                <mat-text-column name="tareDescripcion" headerText="Nombre"></mat-text-column>
                <mat-text-column name="tareUnidadMedida" headerText="Nombre"></mat-text-column>
                <mat-text-column name="tareCantidad" headerText="Nombre"></mat-text-column>
                <mat-text-column name="tareCosto" headerText="Nombre"></mat-text-column>
                

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let sertar">
                        <button mat-raised-button color="accent" title="editar" (click)="editar(sertar)">
                            Editar
                        </button>
                        <button style="margin-left: 0.2cm;" mat-raised-button color="warn" title="borrar" (click)="delete(sertar)">
                            Borrar
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sin items todavia...</td>
                </tr>
            </table>

            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
            </div>
        </div>

        <div *ngIf="mostrarFormulario">
                
            <form [formGroup]="form">

                <div [hidden]="true">
                    <input type="text" formControlName="setaServId" [(ngModel)]="servId"> 
                </div>
                <div style="text-align: center;">
                    <h2>Seleccione una tarea</h2>
                    <mat-form-field appearance="outline">
                        <mat-label>Tarea</mat-label>
                        <mat-select formControlName="setaTareId" [(ngModel)]="seleccionadoSelect" required>
                            <mat-option *ngFor="let tarea of tareas" [value]="tarea.tareId" >
                                {{tarea.tareNombre}}
                            </mat-option >
                        </mat-select>
                        <mat-error>Selecciona una opcion valida</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion</mat-label>
                        <input id="resultado" matInput formControlName="tareDescripcion" [(ngModel)]="descripcion">  
                        <mat-error>El campo no puede ser vacio</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Unidad de Medida</mat-label>
                        <mat-select formControlName="tareUnidadMedida">
                            <mat-option value="cm3">Centimetros cubicos</mat-option>
                            <mat-option value="L">Litros</mat-option>
                            <mat-option value="g">Gramos</mat-option>
                            <mat-option value="cm">Centimetro</mat-option>
                            <mat-option value="mts">Metro</mat-option>
                            <mat-option value="mL">Mililitro</mat-option>
                          </mat-select>
                          <mat-hint>Seleccione una</mat-hint>
                            
                          
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" formControlName="tareCantidad" [(ngModel)]="cantidad">
                        <mat-error>El campo no puede ser vacio</mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Costo</mat-label>
                        <input matInput type="number" formControlName="tareCosto" [(ngModel)]="costo">
                        <mat-error>El campo no puede ser vacio</mat-error>
                    </mat-form-field>
                </div>



                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
                    &nbsp;
                    <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
                </div>
            </form>

        </div>
    