<br>
        <div [hidden]="mostrarGrilla || mostrarTabla">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <mat-text-column name="mobiId" headerText="ID"></mat-text-column>
                <mat-text-column name="mobiIdAnterior" headerText="Ant"></mat-text-column>
                <mat-text-column name="mobiIdSiguiente" headerText="Sig"></mat-text-column>
                <mat-text-column name="mobiFecha" headerText="Fecha"></mat-text-column>
                <mat-text-column name="mobiObservaciones" headerText="observaciones"></mat-text-column>
                <mat-text-column name="mobiOdometro" headerText="Odometro"></mat-text-column>
                <mat-text-column name="mobiProximoOdometro" headerText="Proximo odometro"></mat-text-column>
                <mat-text-column name="mobiProximaFecha" headerText="Proxima fecha"></mat-text-column>
                <mat-text-column name="mobiPendiente" headerText="Pendiente"></mat-text-column>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let bitacora">
                        <button mat-raised-button color="accent" title="editar" (click)="editar(bitacora)">
                            Editar
                        </button>
                        <button style="margin-left: 0.2cm;" mat-raised-button color="primary" title="realizar" (click)="realizar(bitacora)">
                            Realizar
                        </button>
                        <button style="margin-left: 0.2cm;" mat-raised-button color="warn" title="borrar" (click)="delete(bitacora)">
                            Borrar
                        </button>
                        
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                <tr mat-row *matRowDef="let row; columns: columnas"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sin items todavia...</td>
                </tr>
            </table>

            <div style="text-align: center;">
                <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
            </div>
        </div>

        <div *ngIf="mostrarTarea">

            <button mat-raised-button color="primary" (click)="volver()">Volver</button>
        </div>

        <div *ngIf="mostrarFormulario || mostrarForm">

            <form [formGroup]="form">

                <div [hidden]="true">
                    <input type="text" formControlName="mobiMoviId" [(ngModel)]="moviId"> 
                </div>

                <div style="text-align: center;">
                    <mat-form-field appearance="outline">
                        <mat-label>Seleccione una fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="mobiFecha" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>

                </div>

                <div style="text-align: center;">
                <mat-form-field class="example-full-width">
                    <mat-label>Observaciones</mat-label>
                    <textarea matInput formControlName="mobiObservaciones" placeholder="Redacte sus observaciones ..."></textarea>
                  </mat-form-field>
                </div>

                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
                    &nbsp;
                    <button mat-raised-button type="submit" (click)="cancelar()">Cancelar</button>
                </div>
            </form>

        </div>
    